body {
    background-color: #a7f8aa;
    font-family: sans-serif;
}

.wp-block:not([data-align="full"]) {
    max-width: 800px;
}

.wp-block[data-align="wide"] {
    max-width: 1000px;
}

@media only screen and (min-width:801px) {
    .align-full {
        margin-left: calc(-1 * (100vw - 800px)/ 2);
        margin-right: calc(-1 * (100vw - 800px)/ 2);
    }
}

@media only screen and (min-width:1101px) {
    .alignwide {
        margin-left: -100px;
        margin-right: -100px;
    }
}